package config

import (
	"github.com/spf13/viper"
)

// LoadConfig initializes Viper to read configuration from the given path
func LoadConfig(path string) error {
	viper.SetConfigFile(path)
	viper.AutomaticEnv()
	return viper.ReadInConfig()
}
