-- Up migration for {{ .ModuleNameTitle }}
-- Replace this with your actual DDL statements

CREATE TABLE IF NOT EXISTS {{ .ModuleNamePkg }}s (
    id VARCHAR(128) PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW()
);
