package port

import (
	"context"
	"{{ .PackagePath }}/internal/core/domain"
)

// {{ .ModuleNameTitle }}Repository defines the contract for persistent storage operations.
type {{ .ModuleNameTitle }}Repository interface {
	Save(ctx context.Context, entity *domain.{{ .ModuleNameTitle }}) error
	FindByID(ctx context.Context, id string) (*domain.{{ .ModuleNameTitle }}, error)
}
