package repository

import (
	"context"
	"{{ .PackagePath }}/internal/core/domain"
	"{{ .PackagePath }}/internal/core/port"
)

type {{ .ModuleNameTitle }}Repository struct {
	// Add your database connection here
}

func New{{ .ModuleNameTitle }}Repository() port.{{ .ModuleNameTitle }}Repository {
	return &{{ .ModuleNameTitle }}Repository{}
}

func (r *{{ .ModuleNameTitle }}Repository) Save(ctx context.Context, entity *domain.{{ .ModuleNameTitle }}) error {
	return nil
}

func (r *{{ .ModuleNameTitle }}Repository) FindByID(ctx context.Context, id string) (*domain.{{ .ModuleNameTitle }}, error) {
	return nil, nil
}
